.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
  min-height: 100vh;
  padding: 3rem 0 calc(20dvh + 6rem);
}
.calculator {
  contain: layout;
  color: #eee;
  width: 320px;
  background-color: #222;
  border-radius: 20px;
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.5),
    inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5);
  padding: 1rem;
}
.calculator .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.title {
  font-size: 24px;
  font-weight: bold;
}
.icon {
  width: 2rem;
  height: 2rem;
  fill: #3b82f6;
}
.display {
  background-color: #333;
  font-size: 2rem;
  text-align: right;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: inset 1px 1px 3px #eee3;
}
