/* Container */
.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
  max-height: 100vh;
} /* Calculator s tyling */
.calculator {
  color: #eee;
  width: 320px;
  background-color: #222;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 1rem;
} /* Header styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.title {
  font-size: 24px;
  font-weight: bold;
}
.icon {
  width: 2rem;
  height: 2rem;
  fill: #3b82f6;
} /* Display styling */
.display {
  background-color: #333;
  font-size: 36px;
  text-align: right;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
} /* Buttons grid */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
} /* Button styling */
.button {
  color: #eee;
  background-color: #4a4a4a;
  font-size: 18px;
  font-weight: bold;
  border: none;
  padding: 0.7rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.button:hover {
  background-color: #6a6a6a;
}
.button:active {
  background-color: #3a3a3a;
} /* Clear button */
.clear-button {
  color: #eee;
  background-color: #ff4d4d;
  font-size: 18px;
  font-weight: bold;
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  --reddish: crimson;
}
.clear-button:hover {
  background-color: hsl(from var(--reddish) h s calc(l * 1.4));
}
.clear-button:active {
  background-color: var(--reddish);
}
