<div class="layout">
  <header class="header">
    <div class="container">
      <div class="header-content">
        <h1 class="logo">Calculator</h1>
      </div>
    </div>
  </header>
  <main>
    <!-- Content is inserted here -->
    <ng-content></ng-content>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-company">
          <h3>Proyect of Terry</h3>
          <p>Providing professional services since 2020</p>
        </div>
        <div class="footer-rights">
          <p>&copy; 2020. All rights reserved. 😊👍</p>
        </div>
      </div>
    </div>
  </footer>
</div>
