<div class="layout">
  <app-header></app-header>
  <main>
    <ng-content></ng-content>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-company">
          <h3>Proyect of Terry ⭐</h3>
          <p>Providing professional services since 2020</p>
        </div>
        <div class="footer-rights">
          <p>&copy; 2020. All rights reserved.</p>
        </div>
        <div class="footer-thanks">
          <h4>Acknowledgments:</h4>
          <p>Thanks to Mathjs npm</p>
          <p>Thanks to MDN platform</p>
        </div>
      </div>
    </div>
  </footer>
</div>
