.layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  @media (width < 900px) {
    min-height: 140dvh;
  }
  position: relative;
}
.main-content {
  flex-grow: 1;
  padding: 32px 0;
}
.title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 24px;
}
.content-box {
  background-color: white;
  padding: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.box-title {
  font-size: 24px;
  margin-bottom: 16px;
}
.box-description {
  color: #4a5568;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100dvw;
  background-color: #036194;
  color: white;
  padding: 1rem 0;
  min-height: 20dvh;
}
.footer-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  @media (width < 900px) {
    flex-flow: column nowrap;
    gap: 1.2rem;
  }
}
.footer-company h3 {
  font-size: 18px;
  margin-bottom: 8px;
}
.footer-company p {
  color: #a0aec0;
}
.footer-rights {
  color: #a0aec0;
  p::after {
    font-size: 1.2rem;
    content: '😎';
  }
  @media (width < 900px) {
    font-size: 0.8rem;
  }
}
.footer-thanks {
  p {
    text-align: left;
    font-size: 0.8rem;
    opacity: 0.8;
    &::before {
      content: '👏 ';
      font-size: 1.5rem;
    }
  }
}
